body {
  background-color: lightpink;
  font-family: "montserrat";
  margin: 0;
  display: flex;
}


.p-cards {
  font-size: 10px;
  width: 100%;
}

h3 {
  font-size: 15px;
  margin: 5px;
}

.nav-bar {
  display: none;
}

@media (min-width: 1025px) {

  .nav-bar {
    background-color: rgb(249, 231, 233);
    padding: 30px;
    display: flex;
    flex-direction: row;
    height: 20px;
  }

  .nav-links {
    font-size: 15px;
    color: black;
    font-weight: 500;
  }

  .nav-a {
    text-decoration: none;
    color: black;
    margin: 20px;
    transition: 0.3s ease;
  }

  a:hover {
    font-weight: 700;
    font-size: 16px;
  }
}

.article-cards {
  display: grid;
  gap: 1rem;
  margin: 0 auto 0 auto;
  max-width: 1500px;
  padding: 30px;
  height: 100%;
  grid-auto-rows: min-content;
}

@media (max-width: 599px) {

  .article-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {

  .article-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1024px) {

  .article-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

article {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(216, 149, 158, 0.6);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-8px);
  box-shadow: 10px 10px 10px rgb(216, 149, 158);
}

/* change the background to diffrent colors on the diffrent cards*/

.health {
  background: #b5d6d6;
}

.new-owners {
  background: #e6dfc5;
}

.flowers {
  background: #f6c1b2;
}

.toxic-foods {
  background: rgb(153, 153, 194);
}




footer {
  background: rgb(248, 218, 222);
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.cat-footer {
  max-height: 150px;
  margin: 10px 20px 10px 0;
}


.p-footer {
  font-size: 15px;
  margin: 10px 0 20px 0;
}

.icon-a {
  margin: 10px 10px 0 0;
  color: black;
  display: flex;
  flex-direction: column;
}

ion-icon:hover {
  font-size: 30px;
}

ion-icon {
  font-size: 22px;
  transition: 0.3s;
}