body {
  background-color: lightpink;
  font-family: "montserrat";
  margin: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* hamburgar meny that is only visible on mobile */

.mobile-navbar {
  display: none;
 
}

@media (max-width: 1023px) {

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(249, 231, 233);
  color: black;
  padding: 0.8rem 1.5rem;
  position: relative;
}

.ham-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 40px;
}

.ham-menu span {
  height: 4px;
  width: 35px;
  background: black;
  margin: 4px 0;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.ham-menu.active span:nth-child(1){
  transform: translateY(12px) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
  opacity: 0;
}

.ham-menu.active span:nth-child(3){
  transform: translateY(-12px) rotate(-45deg);
}

.ham-menu-links {
  list-style: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 400px;
  margin: 0;
  background: rgb(249, 231, 233);
  z-index: 1000;
}

.ham-menu-links li a {
  color: black;
  text-decoration: none;
}

.ham-menu-links li {
  font-size: 22px;
  font-weight: 500;
  margin: 17px 0;
}

  .ham-menu-links.show {
    display: flex;
  }
}

/* nav-bar is only visible on desktop */

.desktop-navbar {
  display: none;
}

@media (min-width: 1024px) {

  .desktop-navbar {
    background-color: rgb(249, 231, 233);
    padding: 30px;
    display: flex;
    flex-direction: row;
    height: 20px;
  }

  .nav-links-container {
    font-size: 18px;
    color: black;
    font-weight: 500;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    margin: 20px;
    transition: 0.3s ease;
  }

  .nav-link:hover {
    font-weight: 700;
    font-size: 19px;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(72, 58, 65, 0.455)), url("./img/cat-hero-image.jpg");
  background-size: cover;
  background-position: center;

    
    
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 599px) {

  .hero-image {
    height: 45vh;
    max-width: 90vh;
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {

  .hero-image {
    height: 55vh;
    font-size: 20px;
  }
}

@media (min-width: 1025px) {

  .hero-image {
    height: 60vh;
    font-size: 25px;
  }
}

.products-container {
  grid-template-row: 1fr;
  display: grid;
  gap: 15px;
  margin: 0 auto 0 auto;
  padding: 30px 25px;
}

.product-cards {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 180px;

  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba(216, 149, 158, 0.6);
}

.product-img {
  max-height: 130px;
  width: auto;
  margin-top: 22px;
}

.product-heading {
  font-size: 15px;
  margin: 5px;
}

.price {
  margin: 5px auto 0 auto;
  font-size: 10px;
}

.product-text {
  font-size: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
}

@media (max-width: 599px) {

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 600px) and (max-width: 1023px) {

  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 1024px) {

  .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}


.article-text {
  font-size: 10px;
  width: 100%;
}

.article-heading {
  font-size: 15px;
  margin: 5px;
}

.article-cards-container {
  display: grid;
  gap: 1rem;
  margin: 0 auto 0 auto;
  max-width: 1500px;
  padding: 30px;
}




/* the article-cards are displayed diffrently on mobile, tablet and desktop */

@media (max-width: 599px) {

  .article-cards-container {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 600px) and (max-width: 1023px) {

  .article-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {

  .article-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


.article-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(216, 149, 158, 0.6);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}


.article-card:hover {
  transform: translateY(-8px);
  box-shadow: 10px 10px 10px rgb(216, 149, 158);
}


.bullet-list-card {
  font-size: 10px;
  padding: 0px 15px;
}

/* changed the background to diffrent colors on the diffrent cards*/

.health-article {
  background: #b5d6d6;
}

.new-owners-article {
  background: #e6dfc5;
}

.flowers-article {
  background: #f6e2b2;
}

.toxic-foods-article {
  background: rgb(153, 153, 194);
}

  /* make rounded corners on the sign-up form card */
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    max-width: 1200px;
    border-radius: 16px;
    overflow: hidden;
    border: none;
    margin: 20px auto;
  }

  /* image styling */
  .cat-subscription-box {
    width: 50%;
    margin-left: 0;
    object-fit: cover;
    height: auto;
    display: block;
  }

  .form-container form {
    flex: 1;
    background: lightcoral;
  }

  fieldset {
    border: none;
    width: 100%;
    height: auto;
    margin: auto 0;
    box-sizing: border-box;
    padding: 30px;
  }

   input, select {
      background: rgb(238, 187, 187);
      border: 1px solid rgb(239, 89, 89);
      font-family: "Montserrat";
      border-radius: 6px;
      }

  @media (max-width: 900px) {
    .form-container {
      flex-direction: column;
      padding: 15px;
      
    }

    .cat-subscription-box {
      width: 100%;
      height: 300px;
    }

    .form-container form {
      max-height: 350px;
    }

    .form-input {
      font-size: 16px;
    }

    input, select {
      padding: 5px;
      font-size: 10px;
    }

    .checkbox-container {
      font-size: 15px;
      padding-left: 24px;
      margin-bottom: 10px;
      transform: scale(0.9);
    }

    button {
      font-size: 13px;
      padding: 5px 10px;
      margin-top: 15px;
    }

    #message {
      padding: 5px 25px 25px 0;
    }

    #name, #email, #address {
      margin-bottom: 8px;
    }

  }

  @media (min-width: 901px) {
 
     .form-input {
      padding: 10px;
      font-family: "montserrat";
    }
    
    input, select {
     padding: 10px;
      font-size: 13px;
    }

    .checkbox-container {
      font-size: 18px;
      padding-left: 25px;
      margin: 10px 5px;
    }

  }



.checkbox-container {
  display: block;
  position: relative;
  user-select: none;    
}

.form-input::placeholder {
   font-family: "montserrat";
}
  

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



/* change the color on the checkboxes if I want, now its what i followed in the video */

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  gap: 8px; */
  flex-wrap: wrap;
}

.checkbox-container:hover input~.custom-checkbox {
  background-color: #ccc;
}

.checkbox-container input:checked~.custom-checkbox {
  background-color: #444444;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 4px;
  left: 7px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked~.custom-checkbox:after {
  display: block;
}

button {
  font-family: "montserrat";
  /* font-size: 16px; */
  border: 1px solid #4f7c75;
  background: #93e7da;
  border-radius: 6px;
  /* padding: 10px 18px; */
  /* margin-top: 20px; */
}

footer {
  background: rgb(248, 218, 222);
  display: flex;
  padding: 10px;
  justify-content: space-between;
}


.cat-footer {
  max-height: 150px;
  margin: 10px 20px 10px 0;
}


.p-footer {
  font-size: 15px;
  margin: 10px 0 20px 0;
}


.icon-link {
  margin: 10px 10px 0 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  transition: 0.3s;
}


.icon-link:hover {
  font-size: 30px;
}